/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	body {
	  margin: auto;
		width: 712px;
  	background: url(images/layout/tablet/body.jpg) no-repeat top center;
		padding: 48px 28px 0px;
	}

	#page {
    width: 712px;
    margin: auto;
  	min-height: 400px;
  }

  /**
   * HEADER
   */
  #site-title {
    z-index: 1;
    position: relative;
    top: 20px;
    font-family: "Allan", Helmet, Freesans;
    font-size: 50px;
    text-shadow: 1px 1px 1px #333;
  }
  #site-title a {
    color: #920000;
    text-decoration: none;
  }
  #site-description {
    z-index: 1;
    color: #000A47;
    position: relative;
    top: -25px;
    left: 265px;
    width: 300px;
    font-family: "ShadowsIntoLight", Helmet, Freesans;
    font-size: 25px;
  }

  /**
   * SPLASH
   */
  div#splash_me{
    background: url('images/layout/tablet/portrait.png') top center no-repeat;
    width: 137px;
    height: 331px;
    float: left;
    position: relative;
    left: -10px;
    z-index: 4;
  }
  ul#words{
    background: url('images/layout/tablet/words.png') 0px -10px no-repeat;
    float:  left;
    position: relative;
    left: 15px;
    width: 530px;
    height: 325px;
    z-index: 3;
  }
    div.menu_photo{
      position: relative;
      width: 495px;
      height: 50px;
    }
    div.menu_photo:hover{
      background: url('images/layout/tablet/words.png') 0px -338px no-repeat;
    }
    div.menu_blog,
    li.menu_blog{
      width: 350px;
      height: 130px;
    }
    li.menu_blog{
      position: relative;
      left: 150px;
    }
    li.menu_blog:hover{
      background: url('images/layout/tablet/words.png') -150px -388px no-repeat;
    }
    div.menu_web,
    li.menu_web{
      width: 510px;
      height: 150px;
    }
    li.menu_web{
      position: relative;
      left: 20px;
    }
    li.menu_web:hover{
      background: url('images/layout/tablet/words.png') -20px -519px no-repeat;
    }
    li.menu_travel,
    div.menu_travel{
      width: 472px;
      height: 112px;
    }
    li.menu_travel{
      position: relative;
      left: 273px;
      top: -208px;
      z-index: 4;
    }
    li.menu_travel:hover{
      background: url('images/layout/tablet/words.png') -273px -1023px no-repeat;
    }
  /**
   * FOOTER
   */
  footer.layout{
    background: url('images/layout/tablet/footer.jpg') top center no-repeat;
    width: 100%;
    min-height: 107px;
  }
    div#footer_content_wrap{
      width: 712px;
      margin: auto;
    }
  footer.layout div.social_media{
    position: relative;
    width: 215px;
    left: 525px;
    top: 43px;
  }
  img#footer_twitter, img#footer_github, img#footer_linkedin {
    width: 40px;
  }
  footer.layout p.copyright{
    color: #FFF;
    position: relative;
    top: 80px;
    left: -60px;
    margin-bottom:
    font-weight: bold;
  }

}
