/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

	body {
		width: 252px;
		padding: 48px 34px 60px;
	}

}


/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  html {
    background: url('images/layout/mobile/body_repeat.jpg') repeat;
  }
	body {
		width: 480px;
  	background: url(images/layout/mobile/body.jpg) no-repeat top center;
	}

  #main {
    padding-bottom: 72px;
  }

  /**
   * HEADER
   */
  #site-title {
    top: 0px;
    font-size: 32px;
  }
  #site-description {
    top: -45px;
    left: 150px;
    width: 300px;
    font-size: 25px;
  }

  /**
   * SPLASH
   */
  div#splash_me{
    background: url('images/layout/mobile/portrait.png') top center no-repeat;
    width: 51px;
    height: 123px;
    top: 10px;
    left: 72px;
    z-index: 4;
  }
  ul#words{
    background: url('images/layout/mobile/words.png') 0px 0px no-repeat;
    left: 80px;
    width: 200px;
    height: 123px;
    z-index: 3;
  }
    div.menu_photo{
      left: 0px;
      top: 0px;
      width: 188px;
      height: 23px;
    }
    div.menu_photo:hover{
      background: none;
    }
    div.menu_blog,
    li.menu_blog{
      left: 60px;
      top: 0px;
      width: 130px;
      height: 50px;
    }
    li.menu_blog:hover{
      background: none;
    }
    div.menu_web,
    li.menu_web{
      left: 0px;
      top: 0px;
      width: 200px;
      height: 50px;
    }
    li.menu_web:hover{
      background: none;
    }
    li.menu_travel,
    div.menu_travel{
      left: 70px;
      top: -50px;
      width: 120px;
      height: 30px;
      z-index: 4;
    }
    li.menu_travel:hover{
      background: none;
    }
  /**
   * FOOTER
   */
  footer {
    margin-top: -72px;
    height: 72px;
    background: url('images/layout/mobile/footer.jpg') top center no-repeat;
  }
  footer div.social_media{
    width: 100px;
    left: 350px;
    top: 30px;
  }
  img#footer_twitter, img#footer_github, img#footer_linkedin {
    width: 30px;
  }
  footer p.copyright{
    top: 50px;
    left: -60px;
    margin: 0px;
  }

}
