/*  Default Layout: 1176px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1280px: 104px.
-------------------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10      11      12
px      68    160    252    344    436    528    620    712    804    896     988     1080
      */

html {
  background: url('images/layout/default/body_repeat.jpg') repeat;
  height: 100%;
}

body {
  width: 1080px;
  margin: auto;
	background: url(images/layout/default/body.jpg) no-repeat top center;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
  height: 100%;
}

#page {
  min-height: 100%;
}
#main {
  padding-bottom: 162px;
  overflow: auto;
}


/**
 * HEADER
 */
#site-title {
  z-index: 1;
  position: relative;
  top: 20px;
  font-family: "Allan", Helmet, Freesans;
  font-size: 50px;
  text-shadow: 1px 1px 1px #333;
}
#site-title a {
  color: #920000;
  text-decoration: none;
}
#site-description {
  z-index: 1;
  color: #000A47;
  position: relative;
  top: -25px;
  left: 265px;
  width: 300px;
  font-family: "ShadowsIntoLight", Helmet, Freesans;
  font-size: 25px;
}

/**
 * SPLASH
 */
div#splash_me{
  background: url('images/layout/default/portrait.png') top center no-repeat;
  width: 207px;
  height: 500px;
  float: left;
  position: relative;
  left: -10px;
  z-index: 4;
}
ul#words{
  background: url('images/layout/default/words.png') 0px -10px no-repeat;
  float:  left;
  position: relative;
  left: 30px;
  width: 800px;
  height: 500px;
  z-index: 3;
}
  div.menu_photo{
    position: relative;
    width: 745px;
    height: 90px;
  }
  div.menu_photo:hover{
    background: url('images/layout/default/words.png') 0px -506px no-repeat;
  }
  div.menu_blog,
  li.menu_blog{
    width: 495px;
    height: 190px;
  }
  li.menu_blog{
    position: relative;
    left: 250px;
  }
  li.menu_blog:hover{
    background: url('images/layout/default/words.png') -250px -596px no-repeat;
  }
  div.menu_web,
  li.menu_web{
    width: 770px;
    height: 220px;
  }
  li.menu_web{
    position: relative;
    left: 20px;
  }
  li.menu_web:hover{
    background: url('images/layout/default/words.png') -20px -786px no-repeat;
  }
  li.menu_travel,
  div.menu_travel{
    width: 472px;
    height: 112px;
  }
  li.menu_travel{
    position: relative;
    left: 273px;
    top: -208px;
    z-index: 4;
  }
  li.menu_travel:hover{
    background: url('images/layout/default/words.png') -273px -1023px no-repeat;
  }
/**
 * FOOTER
 */
footer.layout {
  position: relative;
  margin-top: -162px;
  height: 162px;
  clear: both;
  width: 100%;
  background: url('images/layout/default/footer.jpg') top center no-repeat;
}

footer.layout div.social_media{
  position: relative;
  width: 215px;
  left: 780px;
  top: 60px;
}
footer.layout p.copyright{
  color: #FFF;
  position: relative;
  top: 135px;
  left: -140px;
  font-weight: bold;
}
