/*  Default Layout: 1176px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1280px: 104px.
-------------------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10      11      12
px      68    160    252    344    436    528    620    712    804    896     988     1080
      */

html {
  background: url('images/layout/default/body_repeat.jpg') repeat;
  height: 100%;
}

body {
  width: 1080px;
  margin: auto;
	background: url(images/layout/default/body.jpg) no-repeat top center;
	color: rgb(60,60,60);
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
  height: 100%;
}

#page {
  min-height: 100%;
}
#main {
  padding-bottom: 162px;
  overflow: auto;
}


/**
 * HEADER
 */
#site-title {
  z-index: 1;
  position: relative;
  top: 20px;
  font-family: "Allan", Helmet, Freesans;
  font-size: 50px;
  text-shadow: 1px 1px 1px #333;
}
#site-title a {
  color: #920000;
  text-decoration: none;
}
#site-description {
  z-index: 1;
  color: #000A47;
  position: relative;
  top: -25px;
  left: 265px;
  width: 300px;
  font-family: "ShadowsIntoLight", Helmet, Freesans;
  font-size: 25px;
}

/**
 * SPLASH
 */
div#splash_me{
  background: url('images/layout/default/portrait.png') top center no-repeat;
  width: 207px;
  height: 500px;
  float: left;
  position: relative;
  left: -10px;
  z-index: 4;
}
ul#words{
  background: url('images/layout/default/words.png') 0px -10px no-repeat;
  float:  left;
  position: relative;
  left: 30px;
  width: 800px;
  height: 500px;
  z-index: 3;
}
  div.menu_photo{
    position: relative;
    width: 745px;
    height: 90px;
  }
  div.menu_photo:hover{
    background: url('images/layout/default/words.png') 0px -506px no-repeat;
  }
  div.menu_blog,
  li.menu_blog{
    width: 495px;
    height: 190px;
  }
  li.menu_blog{
    position: relative;
    left: 250px;
  }
  li.menu_blog:hover{
    background: url('images/layout/default/words.png') -250px -596px no-repeat;
  }
  div.menu_web,
  li.menu_web{
    width: 770px;
    height: 220px;
  }
  li.menu_web{
    position: relative;
    left: 20px;
  }
  li.menu_web:hover{
    background: url('images/layout/default/words.png') -20px -786px no-repeat;
  }
  li.menu_travel,
  div.menu_travel{
    width: 472px;
    height: 112px;
  }
  li.menu_travel{
    position: relative;
    left: 273px;
    top: -208px;
    z-index: 4;
  }
  li.menu_travel:hover{
    background: url('images/layout/default/words.png') -273px -1023px no-repeat;
  }
/**
 * FOOTER
 */
footer.layout {
  position: relative;
  margin-top: -162px;
  height: 162px;
  clear: both;
  width: 100%;
  background: url('images/layout/default/footer.jpg') top center no-repeat;
}

footer.layout div.social_media{
  position: relative;
  width: 215px;
  left: 780px;
  top: 60px;
}
footer.layout p.copyright{
  color: #FFF;
  position: relative;
  top: 135px;
  left: -140px;
  font-weight: bold;
}
/**
 * SIDEBAR
 */
#secondary {
  position: fixed;
  top: 50px;
  right: -15px;
  margin-right: 0px;
  padding: 25px;
  width: 300px;
  background: rgba(174, 246, 118, 0.9);
  background: rgba(174, 246, 118);
  z-index: 5;
  -moz-border-top-left-radius: 25px;
  -moz-border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 10px solid rgb(255, 255, 255);
  border: 10px solid rgba(255, 255, 255, 1);
}
  #secondary h2, #secondary h3 {
    color: #295803;
  }
  #hello {
    font-family: "Rancho";
    font-size: 1.5em;
    margin-bottom: 25px;
    color: #295803;
  }
  #me {
    margin: auto;
    margin-bottom: 25px;
    width: 200px;
    height: 200px;
    border: 5px solid #FFFFFF;
  }
/**
 * MAIN CONTENT
 */
h1.entry-title {
  color: #920000;
}
div.post-date {
  background: url('images/layout/default/cloud.png') top center no-repeat;
  width: 160px;
  height: 70px;
  margin-bottom: -60px;
  position: relative;
  float: right;
  top: -50px;
}
  div.post-date > time {
    position: relative;
    top: 25px;
    left: 35px;
  }
article p {
  margin-bottom: 1em;
}


/*  #comments #respond {*/
/*    margin-top: 1.5em;*/
/*  }*/
/*  */

/* =Comments
----------------------------------------------- */
#comments {
  margin-top: 2em;
  padding: 25px;
  border-top: 3px dashed #FFF;
}
#comments-title {
/*	color: #666;*/
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.5em;
	padding: 0 0 1.5em;
	text-transform: uppercase;
}
.nopassword,
.nocomments {
	color: #aaa;
	font-size: 24px;
	font-weight: 100;
	margin: 26px 0;
	text-align: center;
}
.commentlist {
	list-style: none;
	margin: 0 auto;
	width: 68.9%;
}
.content .commentlist,
.page-template-sidebar-page-php .commentlist {
	width: 100%; /* reset the width for the one-column and sidebar page layout */
}
.commentlist > li.comment {
	background: #f6f6f6;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 1.625em;
	padding: 1.625em;
	position: relative;
}
.commentlist .pingback {
	margin: 0 0 1.625em;
	padding: 0 1.625em;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li.comment {
	background: #fff;
	border-left: 1px solid #ddd;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	margin: 1.625em 0 0;
	padding: 1.625em;
	position: relative;
}
.commentlist .children li.comment .fn {
	display: block;
}
.comment-meta .fn {
	font-style: normal;
}
.comment-meta {
	color: #666;
	font-size: 12px;
	line-height: 2.2em;
}
.commentlist .children li.comment .comment-meta {
	line-height: 1.625em;
	margin-left: 50px;
}
.commentlist .children li.comment .comment-content {
	margin: 1.625em 0 0;
}
.comment-meta a {
	font-weight: bold;
}
.comment-meta a:focus,
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .avatar {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px #ccc;
	-moz-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	left: -102px;
	padding: 0;
	position: absolute;
	top: 0;
}
.commentlist > li:before {
	content: url(images/comment-arrow.png);
	left: -21px;
	position: absolute;
}
.commentlist > li.pingback:before {
	content: '';
}
.commentlist .children .avatar {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	left: 2.2em;
	padding: 0;
	top: 2.2em;
}
a.comment-reply-link {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #666;
	display: inline-block;
	font-size: 12px;
	padding: 0 8px;
	text-decoration: none;
}
a.comment-reply-link:hover,
a.comment-reply-link:focus,
a.comment-reply-link:active {
	background: #888;
	color: #fff;
}
a.comment-reply-link > span {
	display: inline-block;
	position: relative;
	top: -1px;
}

/* Post author highlighting */
.commentlist > li.bypostauthor {
  background: rgba(174, 246, 118);
	background: rgba(174, 246, 118, 0.9);
	border-color: #295803;
	color: #295803
}
.commentlist > li.bypostauthor .comment-meta {
	color: #575757;
}
.commentlist > li.bypostauthor .comment-meta a:focus,
.commentlist > li.bypostauthor .comment-meta a:active,
.commentlist > li.bypostauthor .comment-meta a:hover {
}
.commentlist > li.bypostauthor:before {
	content: url(images/comment-arrow-bypostauthor.png);
}

/* Post Author threaded comments */
.commentlist .children > li.bypostauthor {
  background: rgba(174, 246, 118);
	background: rgba(174, 246, 118, 0.9);
	border-color: #295803;
	color: #295803
}

/* sidebar-page.php comments */
/* Make sure we have room for our comment avatars */
.page-template-sidebar-page-php .commentlist > li.comment,
.page-template-sidebar-page-php.commentlist .pingback {
	margin-left: 102px;
	width: auto;
}
/* And a full-width comment form */
.page-template-sidebar-page-php #respond {
	width: auto;
}

/* Comment Form */
#respond {
	background: #ddd;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 auto 1.625em;
	padding: 1.625em;
	position: relative;
	width: 68.9%;
}
#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 4px solid #eee;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	-moz-box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	box-shadow: inset 0 1px 3px rgba(204,204,204,0.95);
	position: relative;
	padding: 10px;
	text-indent: 80px;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	background: #eee;
	-webkit-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	-moz-box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	box-shadow: 1px 2px 2px rgba(204,204,204,0.8);
	color: #555;
	display: inline-block;
	font-size: 13px;
	left: 4px;
	min-width: 60px;
	padding: 4px 10px;
	position: relative;
	top: 40px;
	z-index: 1;
}
#respond input[type="text"]:focus,
#respond textarea:focus {
	text-indent: 0;
	z-index: 1;
}
#respond textarea {
	resize: vertical;
	width: 95%;
}
#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	font-size: 22px;
	font-weight: bold;
	left: 75%;
	position: absolute;
	top: 45px;
	z-index: 1;
}
#respond .comment-notes,
#respond .logged-in-as {
	font-size: 13px;
}
#respond p {
	margin: 10px 0;
}
#respond .form-submit {
	float: right;
	margin: -20px 0 10px;
}
#respond input#submit {
	border: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	cursor: pointer;
	font-size: 15px;
	margin: 20px 0;
	padding: 5px 42px 5px 22px;
	position: relative;
	left: 30px;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  background: rgba(174, 246, 118);
	background: rgba(174, 246, 118, 0.9);
	color: #295803
}
#respond input#submit:active {
	background: #1982d1;
	color: #bfddf3;
}
#respond #cancel-comment-reply-link {
	color: #666;
	margin-left: 10px;
	text-decoration: none;
}
#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}
.commentlist #respond {
	margin: 1.625em 0 0;
	width: auto;
}
#reply-title {
	color: #373737;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
#cancel-comment-reply-link {
	color: #888;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}
#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #ff4b33;
}
#respond label {
	line-height: 2.2em;
}
#respond input[type=text] {
	display: block;
	height: 24px;
	width: 75%;
}
#respond p {
	font-size: 12px;
}
p.comment-form-comment {
	margin: 0;
}
.form-allowed-tags {
	display: none;
}


/* Forms */
input[type=text],
input[type=password],
textarea {
	background: #fafafa;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	color: #888;
}
input[type=text]:focus,
textarea:focus {
	color: #373737;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text] {
	padding: 3px;
}
input#s {
	background: url(images/search.png) no-repeat 5px 6px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	height: 22px;
	line-height: 1.2em;
	padding: 4px 10px 4px 28px;
}
input#searchsubmit {
	display: none;
}
