/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

@import url('refinery/application.css');

html {height: 100%;}

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {height: 100%; font: 14px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


p{
  margin-left: 1em;
}
ul{
  list-style-type: disc;
  margin-left: 3.5em;
}
ol{
  margin-left: 2.5em;
}
ul.content_menu{
  margin: 0em;
}
ul.content_menu li{
  float: left;
  list-style-type: none;
}
h1, h2, h3, h4{
  color: #920000;
}
h1{
  font-size: 16px;
  font-weight: bold;
}
h2{
  font-size: 15px;
  font-weight: bold;
}
h3{
  font-size: 14px;
  font-style: italic;
}

/**
 * LAYOUT
 */
html{
  background: url('../images/layout/body_repeat.jpg') repeat;
}
body{
  background: url('../images/layout/body.jpg') top center no-repeat;
  width: 100%;
}
header.layout{
  height: 180px;
}
  div#skydiver{
    z-index: 1;
    background: url('../images/layout/skydiver.png') top center no-repeat;
    width: 66px;
    height: 72px;
    position: relative;
    top: 180px;
    left: 60%;
  }
div#main{
  display: table;
  margin: auto;
  height: 100%;
}
footer.layout{
  background: url('../images/layout/footer.jpg') top center no-repeat;
  width: 100%;
  min-height: 183px;
}
section#body_content_left{
  display: table-cell;
  width: 600px;
  padding: 0em 1em 1em 0em;
  vertical-align: top;
}
section#body_content_right{
  display: table-cell;
  width: 300px;
  padding: 5px;
  vertical-align: top;
}
  div#me{
    width: 300px;
    height: 300px;
  }
  nav#main_menu{
    width: 300px;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 3px dashed white;
  }
    nav#main_menu div{
      width: 61px;
      height: 60px;
      margin: 0px 7px;
    }
    div.menu_typewriter{
      background: url('../images/layout/menu_sprite.png') 0px 0px no-repeat;
    }
    div.menu_typewriter:hover{
      background: url('../images/layout/menu_sprite.png') 0px -62px no-repeat;
    }
    div.menu_laptop{
      background: url('../images/layout/menu_sprite.png') -62px 0px no-repeat;
    }
    div.menu_laptop:hover{
      background: url('../images/layout/menu_sprite.png') -62px -63px no-repeat;
    }
    div.menu_camera{
      background: url('../images/layout/menu_sprite.png') -125px 0px no-repeat;
    }
    div.menu_camera:hover{
      background: url('../images/layout/menu_sprite.png') -125px -63px no-repeat;
    }
    div.menu_backpack{
      background: url('../images/layout/menu_sprite.png') -187px 0px no-repeat;
    }
    div.menu_backpack:hover{
      background: url('../images/layout/menu_sprite.png') -187px -63px no-repeat;
    }

/**
 * FOOTER
 */
footer.layout div.social_media{
  position: relative;
  width: 215px;
  left: 70%;
  top: 75px;
}
footer.layout p.copyright{
  color: #FFF;
  position: relative;
  top: 160px;
  font-weight: bold;
}

