/*
  Override default refinery application CSS below.
  Formatting applies to all frontend.
*/

@import url('refinery/application.css');

/**
 * Special Fonts
 */
@font-face {
  font-family: "Allan";
  src: url(../fonts/Allan-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "ShadowsIntoLight";
  src: url(../fonts/ShadowsIntoLight.ttf) format("truetype");
}

html {height: 100%;}

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {height: 100%; font: 14px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


p{
  margin-left: 1em;
}
ul{
  list-style-type: disc;
  margin-left: 3.5em;
}
ol{
  margin-left: 2.5em;
}
ul.content_menu{
  margin: 0em;
}
ul.content_menu li{
  float: left;
  list-style-type: none;
}
h1, h2, h3, h4{
  color: #920000;
}
h1{
  font-size: 16px;
  font-weight: bold;
}
h2{
  font-size: 15px;
  font-weight: bold;
}
h3{
  font-size: 14px;
  font-style: italic;
}

/**
 * LAYOUT
 */
html{
  background: url('../images/layout/body_repeat.jpg') repeat;
}
body{
  background: url('../images/layout/body.jpg') top center no-repeat;
  width: 100%;
}
header.layout{
  height: 180px;
}
  div#skydiver{
    z-index: 1;
    background: url('../images/layout/skydiver.png') top center no-repeat;
    width: 66px;
    height: 72px;
    position: relative;
    top: 175px;
    left: 730px;
  }
  div#title, div#subtitle {
    width: 800px;
  }
    div#title a{
      z-index: 1;
      color: #920000;
      position: relative;
      top: 20px;
      font-family: "Allan", Helmet, Freesans;
      font-size: 50px;
      text-decoration: none;
      text-shadow: 1px 1px 1px #333;
    }
  div#title a:hover{
    border-bottom: 3px dashed;
  }
  div#subtitle{
    z-index: 1;
    color: #000A47;
    position: relative;
    top: -25px;
    left: 275px;
    font-family: "ShadowsIntoLight", Helmet, Freesans;
    font-size: 25px;
  }
div#main{
  display: table;
  margin: auto;
  height: 100%;
}
footer.layout{
  background: url('../images/layout/footer.jpg') top center no-repeat;
  width: 100%;
  min-height: 183px;
}
  div#footer_content_wrap{
    width: 900px;
    margin: auto;
  }
section#body_content_left{
  display: table-cell;
  width: 740px;
  padding: 0em 1em 1em 0em;
  vertical-align: top;
  z-index: 1;
}
  section#body_content_left.float_menu {
    width: 940px;
  }
section#body_content_right{
 /* display: table-cell; */
  position: relative;
  float: right;
  margin-right: 10px;
  width: 200px;
  padding: 5px;
  vertical-align: top;
  z-index: 1;
}
  section#body_content_right.float_menu {
    position: fixed;
    right: 10px;
    margin-right: 0px;
    z-index: 5;
  }
  div#me{
    width: 300px;
    height: 300px;
  }
  ul#words{
    background: url('../images/layout/words.png') 0px -10px no-repeat;
    position: relative;
    top: 0px;
    left: -20px;
    width: 800px;
    height: 500px;
    z-index: 3;
  }
    div.menu_photo{
      position: relative;
      width: 745px;
      height: 90px;
    }
    div.menu_photo:hover{
      background: url('../images/layout/words.png') 0px -506px no-repeat;
    }
    div.menu_blog,
    li.menu_blog{
      width: 495px;
      height: 190px;
    }
    li.menu_blog{
      position: relative;
      left: 250px;
    }
    li.menu_blog:hover{
      background: url('../images/layout/words.png') -250px -596px no-repeat;
    }
    div.menu_web,
    li.menu_web{
      width: 770px;
      height: 220px;
    }
    li.menu_web{
      position: relative;
      left: 20px;
    }
    li.menu_web:hover{
      background: url('../images/layout/words.png') -20px -786px no-repeat;
    }
    li.menu_travel,
    div.menu_travel{
      width: 472px;
      height: 112px;
    }
    li.menu_travel{
      position: relative;
      left: 273px;
      top: -208px;
      z-index: 4;
    }
    li.menu_travel:hover{
      background: url('../images/layout/words.png') -273px -1023px no-repeat;
    }
  img#portrait{
    position: absolute;
    top: 180px;
    left: 930px;
    z-index: 4;
  }
  nav#main_menu{
    width: 200px;
    padding-bottom: 20px;
  }
    nav#main_menu img#headshot{
      border: 2px solid white;
    }
  p#hello{
    font-family: 'Rancho', cursive;
    font-size: 1.5em;
    margin: 0px 10px 30px 10px;
    color: #920000;
  }


/**
 * FOOTER
 */
footer.layout div.social_media{
  position: relative;
  width: 215px;
  left: 725px;
  top: 75px;
}
footer.layout p.copyright{
  color: #FFF;
  position: relative;
  top: 160px;
  left: -250px;
  font-weight: bold;
}
