.blog_post header, .blog_post footer {
  width: auto;
}
.blog_post .posted_at{
}
.post_categories .filed_in {
  display: inline;
}
.post_categories ul {
  margin: 0px 0px 0px 6px;
  padding: 0px;
  display: inline;
}
.post_categories ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.field.message_field label {
  vertical-align: top;
}
#rss_feed_subscribe {
  display: block;
  padding-left: 25px;
  background: url('/images/refinerycms-blog/rss-feed.png') no-repeat;
}
#next_prev_article{
  overflow:hidden;
  margin:10px 0;
  position:relative;
  height:30px;
}
#next_prev_article a{
  display:block;
  width:33%;
  height:30px;
  line-height:30px;
  position:absolute;
  top:0;
}
#next_prev_article a.prev{
  left:0;
}
#next_prev_article a.next{
  text-align:right;
  right:0;
}

#message, .flash {
  padding: 8px 8px 8px 30px;
  margin-bottom: 15px;
  position: relative;
}
.flash_notice, .flash_message {
  border: 1px solid #00A017;
  color: #00A017;
  background: 7px 7px no-repeat url('/images/refinery/icons/accept.png') #E0F5E0;
}
.flash_notice, .flash_notice * {
  color: #00A017;
}
.flash_error {
  border: 1px solid #A00027;
  color: #A00027;
  background: 7px 7px no-repeat url('/images/refinery/icons/cancel.png') #FFB1B1;
}
.flash.flash_notice #flash_close, .flash.flash_error #flash_close {
  text-transform: lowercase;
}
.flash.flash_message {
  background: #E0F5E0;
  padding: 9px;
  position: relative;
  margin-bottom: 32px;
}
.flash.flash_message h2 {
  margin-top: 12px;
}
.flash_message, .flash_message * {
  color: #262719;
  font-size: 14px;
}
.flash a, .flash a:hover {
  color: #e20003;
  border-bottom-color: #e20003;
}
.flash.flash_error a, .flash.flash_error a:hover {
  display: none;
} /* FLASH MESSAGES */


/**
 * Article Content
 */
article.blog_post{
  margin-bottom: 2em;
}
article header h1{
  font-size: 25px;
  position: relative;
  z-index: 2;
}
article header h1 a{
  color: #920000;
  position: relative;
  z-index: 2;
}
article h1{
  font-size: 18px;
}
article h2{
  margin-top: 1em;
}
article h3{
  margin-top: 0.5em;
}
article p{
  margin-bottom: 1em;
}

article section.content{
  position: relative;
  z-index: 2;
}
article section.details{
  background: url('../images/blog/cloud.png') center top no-repeat;
  width: 160px;
  height: 70px;
  position: relative;
  top: -30px;
  left: -125px;
  margin-right: -200px;
  float: left;
  z-index: 1;
}
  article time{
    position: relative;
    top: 30px;
    left: 20px;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    color: #555;
  }

article p code{
  font-weight: bold;
  background-color: #EEE;
}
pre.prettyprint code{
  font-size: 10px;
}
section.footer_details div.social{
  float: left;
}
  section.footer_details img.tag,
  aside.comment_count img.comments{
    vertical-align: middle;
  }
  aside.filed_in,
  aside.tagged{
    display: inline-block;
  }
  aside.comment_count{
    float: right;
  }
  aside.comment_count iframe{
    vertical-align: middle;
  }


/**
 * Comments
 */
article.blog_comment_message table{
  table-layout: fixed;
  border-collapse: separate;
  width: 600px;
  border-spacing: 5px;
}
article.blog_comment_message td.avatar{
  width: 60px;
}
footer.blog_comment_author div.name_details{
  font-weight: bold;
}
  div.name_details span.says{
    margin-left: 5px;
    font-style: italic;
  }
  footer.blog_comment_author span.time{
    font-size: 12px;
  }
div#comment_form{
  margin-top: 2em;
}
table.form{
  border-collapse: separate;
  table-layout:fixed;
  border-spacing: 10px 10px;
  width: 400px;
}
table.form td{
  text-align: middle;
  vertical-align: middle;
}
table.form td:first-child{
  text-align: right;
  width: 75px;
}
div#comment_form input,
div#comment_form textarea{
  -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
  border-color: rgba(82, 168, 236, 0.75)!important;
  outline: medium none;
  background: #F0F8FE;
  padding: 5px;
}
div#comment_form input#blog_comment_submit{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #333;
}

/**
 * Sidebar
 */
ul#categories,
ul#blog_posts, #blog_archive_list ul{
  margin: 0em;
  font-size: 0.75em;
}
ul#blog_posts li {
  margin-bottom: 0.75em;
}
#categories li,
#blog_archive_list li{
  list-style-type: none;
}
#body_content_right h2{
  margin-top: 1em;
}
